fastapi
gdown
langgraph
langsmith
numpy
openai
opencv_python
opencv_python_headless
Pillow
pydantic
python-dotenv
scikit_learn
starlette
supabase
tenacity
pydantic[email]
uvicorn
jinja2
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
python-multipart