fastapi
gdown
langgraph
langsmith
numpy
openai
opencv_python
opencv_python
opencv_python_headless
Pillow
Pillow
pydantic
python-dotenv
python_bcrypt
scikit_learn
starlette
supabase
tenacity
torch
torch
torchvision
uvicorn